.home {
  display: flex;

  .big-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; /* Set the desired height for the container */
    width: 1600px; /* Set the width to match the aspect ratio of the image */
  }
  
  .big-image {
    width: 70%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Display the image as a circle */
  }
  
  .bg1 {
    background-image: url("../../assests/logof.png");
  }
  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
