.app.dark {
  background-color: #111;
  color: rgb(224, 224, 224);

  .chartGrid {
    stroke: #dbdbdb
  }
 
  .InputBox {
    border: 1px solid black;
  }
  .find {
    background-color: transparent;
    border: none;
    color: white; /* Set the text color to white */
    padding: 5px;
    margin-right: 10px;
    width: 150px; /* Adjust the width as needed */
    font-size: 12px;
  }
 
  .singleContainer .top .left .item .details .detailItem .itemKey {
    color: rgb(255, 255, 255);
}
.singleContainer .top .left .item .details .itemTitle {
  color: rgb(255, 255, 255);
}
  .table {
    background-color: #111;

    .tableCell {
      color: rgb(207, 203, 203);
    }
  }

  .navbar {
    color: #dbdbdb;
    border-color: #ddd8d8;

    .search {
      border-color: rgb(255, 250, 250);
      
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #dbdbdb;

    .top {
      .logo {
        color: #cfcfcf;
      }
     
      
    }
    hr {
      border-color: #fffefe;
    }

    ul {
      li {
        &:hover {
          background-color: rgb(193, 189, 189); 
        }
        span{
          color: rgb(255, 255, 255);
        }

        .icon {
          color: #cbcbcb;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: white;
      border: none;

      .viewButton{
        color: rgb(170, 106, 238);
      }
      .deleteButton,
      .cellWithStatus {
        color: rgb(222, 222, 222);
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
      
  }
}
